/* ==========================
   Imports centralizados
   ========================== */

/* Reset e variáveis globais */
@import url("reset.css");
@import url("variables.css");

/* Layout principal */
@import url("responsive.css");
@import url("header.css");
@import url("footer.css");

/* Componentes */
@import url("sections/sections.css");
@import url("sections/homeSection.css");
@import url("sections/aboutSection.css");
@import url("sections/contactSection.css");
@import url("sections/moreOptionsSection.css");
@import url("sections/techStackSection.css");
@import url("sections/repositoriesSection.css");
@import url("sections/certificationsSection.css");
@import url("sections/experienceSection.css");
@import url("sections/resumeSection.css");

/* ==========================
   Estilos globais
   ========================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-main);
    background-color: var(--color-bg);
    color: var(--color-text);
    transition: background-color 0.3s, color 0.3s;
}

body.dark {
    background-color: var(--color-bg-dark);
    color: var(--color-text-dark);
}

a {
    color: var(--color-link);
    text-decoration: none;
}

body.dark a {
    color: var(--color-link-dark);
}
