.moreOptions-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.moreOption-button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: var(--color-main);
  color: #fff;
}

/* More > Light Theme: maintain high contrast */
body:not(.dark) .moreOption-button {
  background-color: var(--color-main);
  color: #fff;
}

/* More > Dark Theme */
body.dark .moreOption-button {
  background-color: var(--color-main);
  color: #fff;
}

/* More> Hover effect for both themes */
.moreOption-button:hover {
  background-color: var(--color-hover-main) !important;
  color: #fff !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.20);
  transition: color 0.3s, transform 0.2s;
}